body {
  font-size: 18px;
  color: #777777;
  font-family: "Georgia","Times", "Times New Roman", "serif";
  }

h1 {
  border-bottom: 1px solid #777777;
  margin: 30px;
  padding: 20px;
  color: #4aaaa5;
  font-weight: bold;
  font-size: 25px;
}

h2 {
  border-bottom: 1px solid #777777;
  margin: 30px;
  padding: 20px;
  color: #4aaaa5;
  font-weight: bold;
  font-size: 16px;
}

.connect-img {
width: 50px;
height: 50px;

}

#name {
  background: #4aaaa5;
  padding: 20px;
  display:inline;
  float:left;
  color: white;
  font-weight: bold;
  font-size: 25px;
 
}

nav {
  display:inline;
  float:right;
  padding: 20px;
  color: #777777;

}

nav a {
  text-decoration: none;
}

.wrapper {
  max-width:960px;
  margin: 0 auto;
  padding-top: 20px;
}

main {
  background-image: url("../images/symphony.png");

}


#content {
  background-color: #ffffff;
  width: 600px;
  box-sizing: border-box;
  float:left;
  text-align: left;
  outline: 1px solid red;
  margin: 1px;
}

#connect {
  background-color: #ffffff;
  width:270px;
  height: 300px;
  text-align: center;
  box-sizing: border-box;
  float: right;
  display: inline;
  outline: 1px solid red;
  margin:1px;
}

footer {
  clear: both;
  padding: 20px;
  height: 25px;
  background-color: #666666;
  text-align: center;
  border-top: 4px solid #4aaaa5;
  color: white;
  width: 100%;
}

#bio_image {
  border: 1px solid #eee;
  margin: 0 10px 10px 20px;
  height: 200px;
  width: 200px;
  float: left;
}
form {
  margin: 6%;
}

#text3 {
  width: 100;
  height: 400px;
}

.portfolio-item {
  display: inline-block;
  position:relative;
  width: 35%;
  margin: 0 5%;
}

.portfolio-img {
  display:block;
  margin: 0 auto;
  max-width:100%;
}

.portfolio-label {
  position:absolute;
  bottom: 0;
  background-color: #4aaaa5;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
}

.textbox{
  width: 100%;
}

.clearfix {
  overflow: auto;
}

@media only screen and (max-width: 980px) {
    .wrapper {
        width: 100%; 
        padding-bottom: 0px;}
    
    #connect {
       margin: 2px; }

    #content {
        margin: 2px; }
    
    #nav {
        margin: 14px; }

}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100%; 
        padding-bottom: 0px;}
    
    #content {
        width: 708px;
        margin: 30px 30px 30px 30px;
       }

    #connect {
        width: 708px;
        margin: 15px 30px 30px 30px;
      }

    #name {
      margin: 0px 0px 0px 30px;
    }

    .connect-img {
      float:left;
      margin: 0px 0px 0px 25px;
    }

    nav {
      margin: 0px 15px;
    }

    @media only screen and (max-width: 640px) {
    .wrapper {
        width: 100%; 
        padding-bottom: 0px;}

    header {
      position: static;
    }

    nav {
        display: block;
        float: none;
        padding: 20px;
        word-spacing: 30px;
        text-align: center;
      }

    #name {
      display: block;
      float: none;
      margin: 0px 0px 0px 0px;
      text-align: center;
    }

    #content {
        width: 600px;
        margin: 20px 20px 10px 20px;
        
      }

    #connect {
        width: 600px;
        margin: 20px 20px 10px 20px;
       
      }   

     .portfolio-img {

        width: 100%;
        margin-bottom: 20px;      
     }

     .portfolio-label {
        width: 100%;
        margin-bottom: 20px; 
     }
     .wrapper.clearfix{
        padding: 0px;

     }
    
    